.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.blue {
    background: #93e2ff;
}
.blue-text {
    color: #0099e6;
}

.light {
    background: white;
}
.light-text {
    color: #738482;
}