.spanWrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.pencil {
    width: 30px;
    height: 30px;
    align-self: center;
}

.superSpan {
    display: inline-block;
    margin: 16px auto 15px auto;
    font-size: 15px;
    height: 20px;
    font-style: italic;
    text-decoration: underline;
    color: #0c96af;
    cursor: pointer;
}
