/*
для варианта с state

.navbarWrapper {
    display: flex
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.link {
    display: block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;
    margin: 5px;
    background-color: #738482;
    cursor: pointer;
}

.link a {
    color: #0bff5f;
    text-decoration: none;
}

.link a.active {
    color: #0bff5f;
    text-decoration: none;
}*/

.link {
    margin: 10px;
    text-decoration: none;
    color: #738482;
}

.link:hover {
    color: #05a9ca;
}

.active {
    color: #0bff5f
}
.hider {
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: #05a9ca;
    border-radius: 5px;
}

.navbarWrapper {
    display: flex;
    width: 300px;
    transition-duration: 500ms;
    transform: translate(-240px);
}

.navbarWrapper:hover {
    transition-duration: 500ms;
    transform: translate(0);
}
